.cardContent_box {
  display: flex;
  justify-content: space-between;
}

.card_rating {
  margin: 10px 0;
}

.card_box_button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardIcon_button {
  padding: 0;
}

.card_quantity {
  display: flex;
  justify-content: center;
  position: relative;
}
